$red: #ff0000;
$blue: #065fd4;
$light_grey: #c6c6c6;
$grey: #f0f0f0;
$black: #030303;
$light_blue: #def1ff;
$white: #ffffff;
$box-shadow: 0 1px 3px 0 rgb(238, 238, 238);

@mixin input-text {
	input[type='text'] {
		border-color: #065fd4;
		color: red;
	}
}
