$red: #ff0000;
$blue: #065fd4;
$light_grey: #f0f0f0;
$font_grey: #606060;
$grey: #c6c6c6;
$black: #0f0f0f;
$light_blue: #def1ff;
$white: #ffffff;
$purple: #7e57c2;
$pink: #e95a5a;
$green: #47d864;
$box-shadow: 0 1px 3px 0 rgb(238, 238, 238);
$box-shadow2: 4px 2px 13px 1.4px #e3e0e3;
$dropdown-shadow: 0px 4px 32px 0px rgb(230, 226, 226);

@mixin input-text {
	input[type='text'] {
		border-color: #065fd4;
		color: red;
	}
}
