// Congif
@import './config/_variables.scss';
@import './config/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

// Components
@import './components/header.scss';
@import './components/video.scss';
@import './components/sidebar.scss';
@import './components/form.scss';
@import './components/sign.scss';
@import './components/videoPlayer.scss';

// Screens
@import './screens/home.scss';
@import './screens//watch.scss';
@import './screens/profile.scss';
@import './screens/edit-profile.scss';
@import './screens/edit-video.scss';
@import './screens/change-password.scss';
@import './screens/upload-video.scss';
@import './screens/404.scss';

// Defaults
* {
	box-sizing: border-box;
}
body {
	font-family: 'YouTube Sans', sans-serif;
	background-color: $white;
	color: $black;
	a {
		color: $black;
		text-decoration: none;
		display: block;
	}
	input,
	textarea {
		font-family: 'Roboto', sans-serif;
		// box-shadow: $box-shadow;
		// &:focus {
		// 	border: 1px solid $blue;
		// }
	}
	button {
		cursor: pointer;
		font-family: 'YouTube Sans', sans-serif;
	}
	main {
		display: flex;
		padding-top: 56px;
		width: 100%;
		height: 100%;
	}
}
// universial

@keyframes goAway {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.message {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 350px;
	padding: 14px 20px 16px;
	font-size: 14px;
	color: $font_grey;
	letter-spacing: 0.02rem;
	border-left: 6px solid;
	box-shadow: $box-shadow2;
	animation: goAway 2.5s ease-in-out;
	opacity: 0;
	&.success {
		border-left-color: #47d864;
	}
	&.error {
		border-left-color: #e95a5a;
	}
	&.info {
		border-left-color: $blue;
	}
}
.grid {
	display: grid;
}
.flex-r {
	display: flex;
	flex-direction: row;
}
.flex-c {
	display: flex;
	flex-direction: column;
}
.r-center {
	align-items: center;
}
.center {
	justify-content: center;
	align-items: center;
}
.flex-sb {
	justify-content: space-between;
}
.hr {
	border-bottom: 1px solid $grey;
}
.avatar {
	height: 45px;
	border-radius: 50%;
	aspect-ratio: 1;
	object-fit: cover;
	&.no-image {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $purple;
		color: $white;
		font-size: 22px;
		text-transform: uppercase;
	}
}
.signin-btn {
	padding-inline: 20px;
	border: 1px solid $light_grey;
	border-radius: 40px;
	font-size: 15px;
	line-height: 38px;
	color: $blue;
	box-shadow: $box-shadow;

	&:hover {
		background-color: $light_blue;
		& i {
			background-color: $light_blue;
		}
	}
	span {
		margin-left: 10px;
		letter-spacing: 0.2px;
	}
}
.subscribe-btn,
.blue-btn,
.userDelete-btn {
	padding: 10px 20px;
	border-radius: 18px;
	font-size: 14px;
	font-weight: 500;
	color: $white;
}
.subscribe-btn {
	background-color: $black;
	&:hover,
	&:focus {
		opacity: 0.9;
	}
}

.blue-btn,
.userDelete-btn {
	background-color: $blue;
	opacity: 0.9;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

.accent {
	color: $blue;
}

.errorMessage {
	display: block;
	margin-bottom: 20px;
	color: $red;
	font-size: 14px;
}
