.form__container {
	padding: 40px 0px;
	width: 70%;
	margin: 0 auto;
	.form-header {
		padding: 0 30px 10px;
		margin-bottom: 40px;
		h1 {
			font-size: 25px;
		}
		.form-header__buttons {
			justify-content: end;
			font-size: 14px;
			font-weight: 500;
			* {
				padding: 0 20px;
				line-height: 2.5rem;
			}
			a {
				color: $blue;
			}
			.cancel-btn {
				color: $font_grey;
				&.active {
					color: $blue;
				}
			}
			.update-btn {
				color: $white;
				background-color: $grey;
				&.active,
				&:hover {
					background-color: $blue;
				}
			}
		}
	}
	.form-content {
		max-width: 700px;
		margin: 0 auto;
		.form-content__input {
			margin: 0 auto 20px;
			label {
				font-weight: 500;
				font-family: 'Roboto', sans-serif;
				margin-bottom: 10px;
				&.active {
					color: $blue;
				}
			}

			input,
			textarea {
				padding: 18px 12px;
				border-radius: 8px;
				font-size: 16px;
				margin-bottom: 20px;
				&::placeholder {
					color: $grey;
				}
				&:hover {
					border: 1px solid $font-grey;
				}
				&:focus {
					border: 1.8px solid $blue;
				}
			}
			.grid {
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
			}
			.hashtags {
				color: $blue;
			}
		}
	}
}
