@import '../config/variables';
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

header {
	// a {
	// 	display: block;
	// 	// padding: 10px;
	// }
	width: 100%;
	.header__container {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2022;
		transform: translateY(0);
		background-color: $white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 26px;
		height: 56px;
		border-bottom: 1px solid $grey;
		.start {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 22px;
			.sidebar__icon {
				width: 40px;
				font-size: 20px;
				color: $black;
				&:hover {
					background: $grey;
					border-radius: 50%;
					aspect-ratio: 1;
				}
			}
			.header__logo {
				color: $red;
				font-size: 30px;
			}
			.header__wetube {
				margin-left: 3px;
				font-family: 'League Gothic', sans-serif;
				font-size: 27px;
				color: $black;
			}
		}
		.search__bar {
			.search__form {
				// width: 100%;
				div {
					position: relative;
					display: flex;
					.search__icon {
						display: none;
					}
					.search__input {
						padding-inline: 16px;
						width: 500px;
						height: 38px;
						font-size: 16px;
						border-top-left-radius: 40px;
						border-bottom-left-radius: 40px;
						&:focus {
							padding-left: 38px;
							+ .search__icon {
								position: absolute;
								left: 12px;
								top: 13px;
								display: inline-block;
								font-size: 16px;
								color: $blue;
							}
						}
					}
					.search__btn {
						width: 80px;
						border: 1px solid $grey;
						border-left: 0;
						border-top-right-radius: 40px;
						border-bottom-right-radius: 40px;
						background-color: $light_grey;
						.search__icon {
							display: block;
							font-size: 18px;
							color: $black;
						}
					}
				}
			}
		}
		.user__btns {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 25px;
			button i {
				font-size: 18px;
				color: $black;
				height: 100%;
			}
			.avatar {
				width: 35px;
				height: 35px;
				border-radius: 50%;
			}
			.no-image {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $purple;
				color: $white;
				font-size: 18px;
				text-transform: uppercase;
			}
			.dropdown-menu {
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				width: 300px;
				border-radius: 12px;
				box-shadow: $dropdown-shadow;
				background-color: $white;
				font-family: 'Roboto', sans-serif;

				.dropdown-menu__header {
					display: flex;
					gap: 25px;
					padding: 20px;
					border-bottom: 1.5px solid $grey;
					.avatar {
						width: 45px;
						height: 45px;
						font-size: 24px;
					}
					.dropdown-menu__account {
						h3 {
							font-size: 20px;
							text-transform: capitalize;
						}
						h4 {
							margin-bottom: 10px;
							font-size: 16px;
							line-height: 28px;
							color: $font_grey;
						}
						a {
							font-size: 16px;
							color: $blue;
						}
					}
				}
				.dropdown-menu__links {
					padding: 8px 0;
					&:not(:last-of-type) {
						border-bottom: 1.5px solid $grey;
					}

					li {
						&:hover {
							background-color: $light_grey;
						}
						.dropdown-menu-link {
							display: flex;
							align-items: center;
							gap: 15px;
							padding: 0 20px;
							min-height: 48px;
							i {
								width: 30px;
								font-size: 22px;
							}
							span {
								font-size: 16px;
								line-height: 24px;
							}
						}
					}
				}
			}
			#dropdown {
				right: 50px;
			}
			.dropdown-menu.active {
				display: block;
			}
		}
	}
}
