.sidebar {
	width: 100px;
	height: 100vh;
	padding-left: 6px;
	background-color: $white;
	.sidebar-links {
		padding-top: 10px;
		li {
			text-align: center;
			.active {
				background-color: $light_grey;
				border-radius: 14px;
				font-weight: 700;
			}
			&:hover {
				border-radius: 8px;
				background-color: $light_grey;
			}
			a {
				padding: 24px 5px;
				i {
					margin-bottom: 12px;
					font-size: 22px;
					color: $black;
				}
				span {
					display: block;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
				}
			}
		}
		.sidebar-links__hidden {
			display: none;
		}
	}
}
.sidebar-toggle {
	width: 240px;
	padding: 0;
	box-shadow: $dropdown-shadow;
	.sidebar-links {
		padding: 0 14px;
		div {
			border-bottom: 1.5px solid $grey;
			padding: 8px 0;
			li {
				margin: 0 6px;
			}
		}
		.sidebar-links__hidden {
			display: block;
			padding: 14px 16px;
			p {
				margin-bottom: 26px;
				font-size: 14px;
				line-height: 18px;
			}
			a {
				text-align: center;
				padding: 0;
				width: 120px;
			}
		}
	}
	.sidebar-links li a {
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 14px 16px;
		align-items: center;
		&:hover {
			font-weight: 700;
		}
		i {
			margin: 0;
			width: 24px;
		}
		span {
			font-size: 16px;
		}
	}
}
