.video-mixin {
	height: 300px;
	.video-mixin__thumb {
		height: 200px;
		width: 100%;
		max-width: 380px;
		border-radius: 16px;
		margin-bottom: 20px;
		background-size: cover;
		background-position: center;
	}
	.video-mixin__data {
		display: flex;
		gap: 20px;
		.video-mixin__desc {
			display: flex;
			flex-direction: column;
			gap: 5px;
			font-size: 14px;

			.video-mixin__title {
				font-weight: 600;
				font-size: 16px;
				line-height: 18px;
			}
			.video-mixin__username {
				color: $font_grey;
				&:hover {
					color: $black;
				}
			}
			.video-mixin__meta {
				& :first-child::after {
					content: ' '+ '\00B7'+' ';
					font-weight: 900;
					vertical-align: -1.2px;
				}
				color: $font_grey;
			}
		}
	}
}
