.video__container {
	position: relative;
	max-width: 1024px;
	height: 100%;
	grid-area: video;
	aspect-ratio: 16/9;
	.video {
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			height: 100%;
			background-color: $black;

			object-fit: scale-down;
		}
	}
	.video__controls {
		position: absolute;
		margin: auto;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 8px;
		padding: 0 20px;
		opacity: 0;
		transition: opacity 0.3s ease-in;
		.video__controls__timeline {
			input[type='range'] {
				width: 100%;
				height: 4px;
				background-color: rgba(83, 83, 83, 0.4);
				&::-webkit-slider-thumb {
					appearance: none;
					width: 4px;
					height: 4px;
					background: $red;
				}
			}
		}
		.video__controls__buttons {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			padding: 8px 0;
			& div:first-child {
				display: flex;
				align-items: center;
				gap: 16px;
			}
			i {
				font-size: 25px;
				color: white;
			}
			.fas.fa-volume-up {
				font-size: 21px;
			}
			.fas.fa-volume-mute {
				font-size: 21px;
			}
			input[type='range'] {
				width: 40px;
				height: 3px;
				vertical-align: 4px;
				background: linear-gradient(
					90deg,
					rgba(255, 255, 255, 1) 0%,
					rgba(255, 255, 255, 1) 50%,
					rgba(152, 148, 144, 1) 50%,
					rgba(152, 148, 144, 1) 100%
				);
			}
			input[type='range']::-webkit-slider-thumb {
				appearance: none;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $white;
			}
			.video__controls__time {
				display: inline;
				span {
					color: #dddddd;
					font-size: 14px;
				}
			}
		}
	}
	.video__controls.showing {
		opacity: 1;
		transition: opacity 0.3s ease-in;

		.video__controls__timeline {
			input[type='range'] {
				&:hover {
					padding-top: 5px;
					height: 6px;
					&::-webkit-slider-thumb {
						margin-top: -3px;
						margin-left: -2px;
						width: 18px;
						height: 18px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
