extends base
block content
    div.page__container
        div.page-content
            h1 404
            p=pageTitle 
            small The page you're looking for does not seem to exist.
            a(href="/").blue-btn Go to Home 