doctype html 
html(lang="en")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        //- link(rel="stylesheet" href="https://kit.fontawesome.com/93143b8d47.css" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/css/styles.css")
    body 
        include partials/header    
        main 
            include partials/sidebar
            block content
        include partials/footer
    block scripts 
    script(src="/static/js/main.js") 