extends base

block content 
    h4 Update Video
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title", maxlength=80, value=video.title) 
        input(placeholder="Description", required,  type="text", minlength=20, name="description", value=video.description) 
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join()) 
        input(type="submit", value="Upload Video")