extends base
include mixins/video

block content
    div.main__container
        div.video__grid
            each video in videos
                +video(video)   
            else 
                div.no-content
                        h1 Upload a video to get started
                        p Start sharing your story and connecting with viewers. Videos you upload will show up here.
                        a(href="/videos/upload").blue-btn Upload video
                        if !loggedIn
                            small Don't have an account yet? 
                            a(href="/join").accent.link Sign up to get started.