html(lang="en")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        //- link(rel="stylesheet" href="https://kit.fontawesome.com/93143b8d47.css" crossorigin="anonymous")
        link(rel="stylesheet" href="/static/css/styles.css")
    body
        div.container.flex-c.center
            div.header__container
                    a(href="/") 
                        i.fab.fa-youtube.header-logo
                    h1.header-wetube Sign in to Wetube
            div.form__container
                if errorMessage
                    span.errorMessage=errorMessage
                form(method="POST").flex-c
                    label(for="email") Email address 
                    input(placeholder="Email",name="email", type="email", required)
                    label(for="password") Password  
                    input(placeholder="Password",name="password", type="password", required) 
                    input.submit-btn(type="submit", value="Sign in")
                    button(type="button").github-btn
                        a(href="/users/github/start") Continue with Github
            div.link__container
                span New to Wetube?
                    a(href="/join") Create an account.