extends base
include mixins/video

block content 
    div.main__container
        div.video__grid
            each video in videos
                +video(video)   
            else 
                div.no-content                      
                        h1 No videos found.
                        a(href="/").blue-btn Return to home page.
