aside#sidebar.sidebar
        ul.sidebar-links
            div 
                li 
                    a(href="/")
                        i.fa-solid.fa-house
                        span Home
                li 
                    a(href="/")
                        i.fa-brands.fa-tiktok
                        span Shorts
                li 
                    a(href="/")
                        i.fa-solid.fa-swatchbook
                        span Subscriptions
            div 
                li 
                    a(href="/")
                        i.fa-solid.fa-clapperboard 
                        span Library  
                li  
                    a(href="/")
                        i.fa-solid.fa-clock-rotate-left 
                        span History  
            div.sidebar-links__hidden 
                p Sign in to like videos, comment, and subscribe.
                a(href="/join").signin-btn 
                    i.fa-regular.fa-user 
                    span Sign in