extends ../base

block content
    div.form__container
        form(method="POST")
            div.form-header.flex-r.flex-sb.r-center.hr
                h1 Change password
                div.form-header__buttons.flex-r
                    button(type="button").cancel-btn UNDO CHANGES
                    button(type="submit", value="Change Password").update-btn CHANGE PASSWORD
            div.edit-password.form-content
                if errorMessage
                    span.errorMessage=errorMessage
                div.form-content__input
                    div.flex-c
                        label(for="currentPassword") Current Password 
                        input(placeholder="Current Password", type="password", name="currentPassword")
                    div.flex-c
                        label(for="newPassword") New Password 
                        input(placeholder="New Password", type="password", name="newPassword")
                    div.flex-c
                        label(for="newPasswordConfirmation") New Password Confirmation
                        input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
block scripts
    script(src="/static/js/form.js")